
.header {
    width: 100%;
    height: 60px;

    position: fixed;
    left: 0;
    top: 0;


    background-color: #fff;

    z-index: 100;

    transition: top 0.2s;
}

.header__content {
    padding: 0 30px;

    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 100%;
}

.header__logo {
    display: block;
    height: 100%;
    padding: 15px;
}

.header__navigation {
    height: 100%;
    flex-shrink: 0;
}

.header__navigation_list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    list-style: none;

    height: 100%;
}

.header__navigation_item {
    height: 100%;
    /*padding: 0 5px;*/
}

.header__navigation_link {
    color: #000;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;

    text-decoration: none;
    padding: 0 15px;

    font-size: 1em;

    border: 1px solid transparent;
    transition: all 0.15s;

    background-color: transparent;
}

.header__navigation_link:hover {
    background-color: #eee;
    /*color: #000;*/
    /*border-color: #fff;*/
}

.header__search {
    width: 100%;
    max-width: 650px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin: 0 30px;

    height: 50px;

    background-color: #eee;
    border-radius: 25px;

    position: relative;
}

.header__search .input {
    width: 100%;
}

.header__search_input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;

    border-radius: 25px;

    padding: 5px 5px 5px 20px;
}

.header__search_submit {
    display: block;
    height: 40px;
    width: 40px;

    background-color: #66C05D;
    color: #fff;
    border: none;

    padding: 0;

    border-radius: 20px;

    cursor: pointer;
    margin-right: 5px;
    flex-shrink: 0;
}

.header__search_submit:hover {
    /*background-color: #eee;*/
}

.header__user {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    text-decoration: none;
}

.user__avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.user__name {
    color: #000;
    font-weight: 600;
    margin-right: 10px;
}

@media screen and (max-width: 775px) {
    .header {
        height: 100px;
        /*padding-bottom: 60px;*/
        padding: 0 10px 50px 10px;
        position: fixed;
    }

    /*.*/

    .header__content {
        position: relative;
        padding: 0;
    }

    .header__search {
        position: absolute;
        top: 50px;
        left: 0;
        margin-left: 0;
        /*padding: 10px;*/
        height: 40px;
        background-color: #eee;
        width: 100%;
        max-width: none;
    }

    .header__search_submit {
        height: 30px;
        padding: 0;
        width: 30px;
    }


    .user__avatar {
        width: 30px;
        height: 30px;
        border-radius: 15px;
    }
}