.ad__block {
    background-color: #dddddf;
    color: #aaa;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 300;
    flex-shrink: 0;
    max-width: 100%;
}

.ad__block.s250x250 {
    width: 250px;
    height: 250px;
}

.ad__block.s468x60 {
    width: 468px;
    height: 60px;
}

.left_aside .ad__block.s250x250 {
    position: sticky;
    top: 80px;
}

.workers .ad__block.s468x60 {
    margin: 0 auto 10px auto;
}