.goto_top {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

.goto_top.hidden {
    display: none;
}

.goto_top svg {
    stroke: var(--green);
}

.main__body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

    width: 100%;
    max-width: 1000px;

    padding: 25px 10px 10px 10px;

    margin: 0 auto;
}

@media screen and (max-width: 775px) {
    .body {
        padding: 85px 0 0 0;
    }
}

.workers {
    width: 100%;
}

.left_aside {
    width: 300px;
    flex-shrink: 0;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.worker {
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    position: relative;
    /*box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;*/
}

.left_aside__open {
    padding: 10px 0 15px 0;
    width: 100%;
}

.left_aside__fold,
.left_aside__open {
    display: none;
}

.worker__head_info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.worker__avatar {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    margin-right: 20px;
    border: 1px solid #ddd;
}

.worker__head__name_rating_wrap {
    display: flex;
    flex-direction: column;
}

.worker:not(:last-of-type) {
    margin-bottom: 10px;
}

.worker__link {
    text-decoration: none;
}

.worker__link:hover .worker__name {
    color: #66C05D;
}

.worker__name {
    color: #000;
}

.worker__rating {
    display: flex;
    flex-direction: row;
}

.worker__rating__star {
    width: 16px;
    height: 16px;
    margin-right: 2px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color: #e1c432;
}

.worker__rating__star.no_star {
    background-color: #adadad;
}

.worker__body_info {
    padding: 0 20px;
}

.worker__footer {
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-top: 1px solid #eee;
    margin-top: 15px;
}

.worker__button {
    padding: 10px 20px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 600;
    color: #666;
    font-size: 0.9em;
}
.worker__button .button__icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.worker__button .button__icon svg {
    width: 20px;
    height: 20px;
    stroke: #111;
    stroke-width: 1px;
}

.worker__button:hover {
    background-color: #eee;
}

.worker__button:not(:last-of-type) {
    margin-right: 5px;
}

.worker__related_skills {
    padding: 20px 20px 0 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.worker__related_skill {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: var(--green);
}

.worker__related_skill:not(:last-of-type) {
    margin-bottom: 10px;
}

.worker__related_skill__title {
    flex-shrink: 0;
    max-width: 50%;
}

.worker__related_skill__price {
    flex-shrink: 0;
}

.worker__related_skill__separator {
    width: 100%;
    border-top: 1px solid #ddd;
    margin: 0 20px;
}

.pages {
    width: 100%;
    margin-top: 30px;
}

.pages__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.pages__control:not(:last-of-type) {
    margin-right: 10px;
}

.pages__page,
.pages__arrow {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

.pages__arrow {
    background-color: var(--green);
    color: #fff;
    border: none;
}

.pages__page {
    background-color: #fff;
    border: 1px solid #ddd;
}

.pages__page.active {
    color: #66C05D;
    border: 1px solid #66C05D;
}

.pages__page:not(.active):hover {
    background-color: #eee;
}

.categories__list {
    padding: 20px;
    list-style: none;
}

.category {
}

.category__link,
.subcategory__link {
    padding: 3px 0;
    display: block;
    text-decoration: none;
    color: #000;
}

.categories__link:hover,
.subcategory__link:hover {
    color: var(--green);
}

.subcategories {
    padding: 0 0 0 10px;
    list-style: none;
    margin: 0 0 0 5px;
    border-left: 1px solid #ddd;
}

.subcategory__fold {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.subcategory__fold:hover {
    color: #66C05D;
}

.subcategory__fold span {
    margin-right: 5px;
}

.subcategory__fold img {
    width: 1em;
    height: 1em;
}

.preferences {
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #ddd;
    /*box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;*/
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
}

.preference {
    margin-bottom: 20px;
}

.preference__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

.preference__title {
    font-weight: 600;
}

.preference__fold {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s;
    stroke: #f00;
}

.preference.folded .preference__fold {
    transform: rotate(-180deg);
}

.preference__body {
    overflow: hidden;
    padding: 10px 0 0 0;
}

.preference.folded > .preference__body {
    max-height: 0;
    margin-bottom: 5px;
    padding: 0;
}

.preference__body > ul {
    list-style-type: none;
    padding: 0;
}

.preference__body > ul > li {

}

.preference__body > ul > li > a {
    color: #000;
    text-decoration: none;
    padding: 3px 0;
    display: block;
}

.preference__body > ul > li > a:hover {
    color: var(--green);
    text-decoration: underline;
}

.preference__body > ul > li > a.active {
    color: var(--green);
    font-weight: 600;
}

.preference__body input {
    width: 100%;
    border: 1px solid #eee;
    padding: 10px 15px;
    border-radius: 3px;
}

.footer {
    background-color: var(--blue-3);
    width: 100%;
    height: 200px;
}

.contact_modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
    padding: 10px;
}

.contact_modal.hidden {
    display: none;
}

.contact_modal__body {
    position: absolute;
    background-color: #fff;
    width: 500px;
    max-width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 40px 10px 10px 10px;
}
.contact_modal__close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.contact_modal__close svg {
    stroke: #888
}

.contact_modal__name {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.contact_modal__phone {
    font-size: 2rem;
    margin-bottom: 5px;
}

.contact_modal__schedule {
    font-weight: 700;
    margin-bottom: 50px;
}

.contact_modal__name,
.contact_modal__phone,
.contact_modal__schedule {
    text-align: center;
}

.contact_modal__logo {
    width: 135px;
    margin: 0 auto;
    display: block;
}

.worker.promoted {
    border: 1px solid #66C05D;
}

.promoted__badge {
    background: #66C05D;
    position: absolute;
    right: 0;
    top: -0.05px;
    border-radius: 0 4px 0 4px;
    padding: 2px 5px;
    font-size: 0.9em;
    color: #fff;
}

.preferences__submit {
    width: 100%;
    background-color: #66C05D;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.preference__body label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.preference__body label input {
    margin-top: 5px;
}

@media screen and (max-width: 1024px) {
    .main__body {
        display: block;
        position: relative;
    }

    .workers {
        width: 100%;
    }

    .left_aside {
        position: fixed;
        width: 100%;
        height: 100%;
        padding: 15px 0;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 1000;
        border-radius: 0;
        overflow: scroll;
    }

    .preferences {
        background-color: transparent;
        border: none;
    }


    .left_aside__fold,
    .left_aside__open {
        background-color: transparent;
        border: none;
        color: #66C05D;
        display: block;
    }

    .left_aside.hidden {
        display: none;
    }



}