html {
    /*position: fixed;*/
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.body {
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("../Rectangle 2.png");
    background-size: cover;
    background-position: right top;
    flex-grow: 1;
}


.main__body {
    padding: 100px 0 0 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.form__header {
    margin-bottom: 20px;
    color: #fff;
    font-weight: 600;
    font-size: 2em;
}

.form__label {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 25px;
    color: #fff;
}

.form__input {
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.form__submit {
    max-width: 400px;
    width: 100%;
    background-color: #14a800;
    border: 1px solid #108601;
    padding: 15px 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .main__body {
        padding: 0 10px;
    }
}